<h1>Downloaden Sie dokumente via Klick auf Den Titel</h1>

<a href="http://www.fbmclearningcenter.com/static/media/uploads/placeholder.pdf">Report1.pdf</a>
<br>
<a href="https://www.ieee.org/documents/ieeecopyrightform.doc">Report2.doc</a>