<h1>Welcome</h1>
<p>Herzlich Willkommen auf der Seite von Dr. med. Sommer</p>

<h1>Phylosophie</h1>
<p>Ich freue mich, Sie auf meiner Webseite begrüssen zu dürfen.

Die Praxis Sonne wurde von mir bereits im Jahre 1998 gegründet, um mein Fachwissen möglichst vielen Patienten zugänglich zu machen. Zusammen mit meinem freundlichen Team stehe ich Ihnen gerne als kompetenter Ansprechspartner zur Verfügung

Die Konsultationen führe ich in deutscher, französischer, italienischer oder englischer Sprache durch.

Ich verfüge zudem über zwei Operationstage in meiner Praxis oder als Belegarzt in der Klinik im Park (Zürich) und dem See-Spital (Kilchberg und Horgen).</p>

<h1>Specialisations</h1>
<p>Unsere Spezialisation sind:
    <li>Hautkrankheiten</li>
    <li>Geschlechtskrankheiten</li>
    <li>Haarkrankheiten</li>
</p>

<h1>Konsultationszeiten</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Montag</td>
      <td>8:00 -11:30 und 13:30- 16:00 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>8:00 -11:30 und 13:30- 16:00 Uhr</td>
    </tr>
    <tr>
      <td>Mittwoch</td>
      <td>8:00 -11:30 und 13:30- 16:00 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>8:00 -11:30 und 13:30- 16:00 Uhr</td>
    </tr>
    <tr>
      <td>Freitag</td>
      <td>8:00 -11:30 und 13:30- 16:00 Uhr</td>
    </tr>
    <tr>
      <td>Samstag</td>
      <td>Praxis geschlossen</td>
    </tr>
    <tr>
      <td>Sonntag</td>
      <td>Praxis geschlossen</td>
    </tr>
  </tbody>
</table>

<h1>Telephonzeiten</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Montag</td>
      <td>8:00 -11:30 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>8:00 -11:30 Uhr</td>
    </tr>
    <tr>
      <td>Mittwoch</td>
      <td>8:00 -11:30 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>8:00 -11:30 Uhr</td>
    </tr>
    <tr>
      <td>Freitag</td>
      <td>8:00 -11:30 Uhr</td>
    </tr>
    <tr>
      <td>Samstag</td>
      <td>Praxis geschlossen</td>
    </tr>
    <tr>
      <td>Sonntag</td>
      <td>Praxis geschlossen</td>
    </tr>
  </tbody>
</table>

<h1>Weitere Informationen zur Praxis, dem Leistungsangebot und dem Team finden Sie auf den folgenden Seiten.</h1>
