<h1>Impressum</h1>
<p>
Alle Inhalte dieser Seite werden von Dr. med. Sommer bereitgestellt und erheben keinen Anspruch auf Vollständigkeit oder Korrektheit. Deshalb übernimmt Dr. med. Sommer keine Haftung für dadurch entstandene Schäden und Rechtsansprüche können daraus nicht abgeleitet werden. Der Inhalt von verlinkten Drittseiten untersteht nicht Dr. med. Sommers Zuständigkeit
Diese Website entspricht den Anforderungen des HON (Health on den Net).
Alle Informationen auf dieser Website dienen dazu Auffindbarkeit von Dr. med. Sommer zu vereinfachen und ersetzen keinesfalls eine Konsultation im falle einer Beschwerde. Des weiteren soll Sie Hilfebedürftigen Helfen einen Arzt in ihrer Umgebung zu finden
</p>
<p>
Werbefreiheit / Unabhängigkeit
Die Webseite von Dr. med. Sommer wird von keiner kommerziellen Organisation unterstützt und promoviert auch keine Produkte von bestimmten Firmen.
</p>
<p>
Datenschutz
<br>E-Mails über diese Homepage sind nicht verschlüsselt und die Angaben könnten unter besonderen Umständen durch aussenstehende Personen eingesehen werden.
Besucherinformationen welche über ein Kontaktformular zu uns gelangen, werden  selbstverständlich streng vertraulich behandelt.
Jegliche Daten welche bei einer Anfrage über die Website enstehen, werden direkt nach deren Übermittlung vernichtet, so dass nichts gespeichert oder weiterverwendet werden kann.
Anfragen über die Website werden nach Bearbeitung der Anfrage vernichtet, so dass keine Daten.
</p>
<p>
Copyright
<br>Alle auf dieser Seite verwendeten Texte und Fotos sind Eigentum von Dr. med Sommer. Dessen Verwendung ohne schriftliche zusage von Dr. med. Sommer ist eine strafbare Handlung.
</p>