<h1>Links</h1>
<p>
<br>Notfallwalkin Zürich
<br><a href="http://www.notfallwalkin.ch">www.notfallwalkin.ch</a>
<br>Reiseberatung via Internet
<br><a href="http://www.safetravel.ch">www.safetravel.ch</a>
<br>Kontaktstelle bei Alkoholproblemen (Fachstelle für Alkohol- und andere Drogenprobleme)
<br><a href="http://www.sfa-ispa.ch">www.sfa-ispa.ch</a>
<br>Arbeitsgemeinschaft Tabakprävention
<br><a href="http://www.at-schweiz.ch">www.at-schweiz.ch</a>
<br>Bundesamt für Gesundheit
<br><a href="http://www.admin.ch/bag">www.admin.ch/bag</a>
<br>Krebsfragen
<br><a href="http://www.krebsliga.ch">www.krebsliga.ch</a>
<br>Lungenkrankheiten
<br><a href="http://www.lungenliga.ch">www.lungenliga.ch</a>
<br>Wenn die Kinder krank sind; Ratschläge für Eltern
<br><a href="http://www.swiss-paediatrics.org/parents">www.swiss-paediatrics.org/parents</a>
<br>Arztlexikon
<br><a href="http://www.medizin.ch">www.medizin.ch</a>
<br>Aktiv werden.........fit bleiben!
<br><a href="http://www.active-online.ch">www.active-online.ch</a>
<br>Burnout
<br><a href="http://www.swissburnout.ch">www.swissburnout.ch</a>
<br>Online Beratung zur Sexualität und Liebe für Jugendliche
<br><a href="http://www.durchblick.ch">www.durchblick.ch</a>
<br>Impffragen und Informationen
<br><a href="http://www.infovac.ch">www.infovac.ch</a>
<br>Oswald Oelz: Mediziner, Alpinist und Fotograf der Bilder in unserer Praxis
<br><a href="http://www.oswald-oelz.ch">www.oswald-oelz.ch</a>
</p>