<p>In der Praxis Sonne bieten wir folgende Dienstleistungen an:</p>

<h1>Innere Medizin</h1>
<li>Second Opinion
<li>Notfallkonsultationen
<li>Check-Up
<li>Impfungen
<li>EKG, Fahrradbelastungen
<li>Digitales Röntgen


<h1>Gastroenterologie</h1>
<li>Reisemedizin
<li>Videoendoskopie des oberen und unteren Verdauungstraktes (Speiseröhre, Magen, Dünn- und Dickdarm)
<ul>
<li>Ergebnis des aktuellen Hygienetests:
<li>www.sggssg.ch (Whitelist Hygienetest anklicken)
</ul>
<li>Helicobacter-Atemtest
<li>Proktologie (Hämorrhoidenbehandlung)
<li>Atemtests auf Laktose-, Fruktoseintoleranz, bakt. Fehlbesiedlung


<h1>Routine- und Spezial-Ultraschall</h1>
<li>Abdomen
<li>Gefässe (Carotis, Nierenarterien)
<li>Schilddrüse
<li>Bewegungsapparat
<li>Kontrastmittelsonographie
