<img src="http://www.aerztezentrum-sihlcity.ch/img/azs-portrait/dr_abraham_licht.jpg" data-toggle="modal" data-target="#myModal"/>
<h1>KD Dr. med. Sommer</h1>
<p>Spezialisation: FMH Innere Medizin
<br>FMH Intensivmedizin
<br>Facharzt Klinische Notfallmedizin SGNOR
<br>Klinischer Dozent der Universität Zürich</p>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">KD Dr. med. Sommer</h4>
      </div>
      <div class="modal-body">
        <img src="http://www.aerztezentrum-sihlcity.ch/img/azs-portrait/dr_abraham_licht.jpg"/>
        <h1>KD Dr. med. Sommer</h1>
        <p>Spezialisation: FMH Innere Medizin
        <br>FMH Intensivmedizin
        <br>Facharzt Klinische Notfallmedizin SGNOR
        <br>Klinischer Dozent der Universität Zürich</p>
        <p>Dr. med. Sommer hat im Jahr 2003 die Praxis Sonne gegründet, um sein Fachwissen so vielen Patiente“n wie möglich zugänglich zu machen. Seither führt er diese erfolgreich mit Hilfe von Frau Sommer und seiner MPA, Florence Nightingale</p>

        <table class="table">
          <tbody>
            <tr>
              <td>1992</td>
              <td>Staatsexamen</td>
            </tr>
            <tr>
              <td>1993-1995</td>
              <td>Radio-Onkologie, Universitätsspital Zürich, Prof. U. Lütolf</td>
            </tr>
            <tr>
              <td>1995-1997</td>
              <td>Innere Medizin, Universitätsspital Zürich, Prof. A. Schaffner</td>
            </tr>
            <tr>
              <td>1997-1998</td>
              <td>Infektiologie, Universitätsspital Zürich, Prof. R. Weber</td>
            </tr>
            <tr>
              <td>1998-1999</td>
              <td>Hämatologie, Universitätsspital Zürich, Prof. J. Fehr</td>
            </tr>
            <tr>
              <td>1999-2000</td>
              <td>Medizinische Intensivstation, Universitätsspital Zürich., PD Dr. M. Maggiorini</td>
            </tr>
            <tr>
              <td>2000-2001</td>
              <td>Oberarzt, Medizinische Klinik, Stadtspital Triemli Zürich, Prof. O. Oelz</td>
            </tr>
            <tr>
              <td>2001-2003</td>
              <td>Clinical Fellow Critical Care Department, University of Toronto, Canada
<br>Klinische Epidemiologie und Statistik an der University of Toronto</td>
            </tr>
            <tr>
              <td>2003-2004</td>
              <td>Leitender Arzt, Medizinische Klinik, Stadtspital Triemli Zürich, Prof. O. Oelz</td>
            </tr>
            <tr>
              <td>2003-2007</td>
              <td>Teilzeit: Oberarzt, Klinik und Poliklinik für Innere Medizin, Universitätsspital Zürich</td>
            </tr>
            <tr>
              <td>2009-2013</td>
              <td>Teacher of the year, Innere Medizin Universitätsspital Zürich</td>
            </tr>
            <tr>
              <td>seit 2013</td>
              <td>Chefarzt Notfallzentrum Hirslanden</td>
            </tr>
          </tbody>
        </table>
        <p>Akkreditierungen für stationäre Betreuung: Klinik im Park, Spital Sanitas
Fremdsprachen: Englisch, Französisch, Italienisch, Hebräisch</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>